img {
  position: absolute;
  width: 80%;
  height: 40%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 10;
  margin: auto;
  width: 900px;
}

h1 {
  text-align: center;
  color: red;
  background-color: green;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 10;
  margin: auto;
  width: 1515px;
}
