maincontent {
  background-color: goldenrod;
  text-align: center;
  font-size: 30px;
  font: 2em sans-serif;
  color: black;
}

nav {
  background-color: black;
  color: orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

h3 {
  width: 1515px;
  margin: auto;
  text-align: center;
  background-color: red;
  color: black;
}
